html {
  font-size: calc(0.024 * 100vh);
}

#gameboard {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #eeffee;
}

#playerCards {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#controls {
  text-align: center;
}

.subhand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: white;
  margin: 0.25rem;
  min-width: 5rem;
  min-height: calc((3.5/2.25)*5rem);
  position: relative;
}

.card.fresh {
  animation: cardCreationFrames;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

  @keyframes cardCreationFrames {
    from {
      transform: scale(0.0);
    }

    to {
      transform: scale(1.0);
    }
  }

  .card.red {
    color: red;
  }

  .card p {
    margin: 0;
  }

  .card p.rank {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: 15%;
  }

  .card p + p:last-of-type {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  
@media (max-width: 1024px) {
  .hide-small {
    display: none;
  }

  .card {
    min-width: 2rem;
    margin: 0.5rem;
  }
}